/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXuhpOqc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUehpOqc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXehpOqc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*Discover » Red*/
#click7{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(255, 59, 48);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click7:hover{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(255, 71, 62);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click7:active{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(233, 54, 44);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    box-shadow: 0px 0px 0px 3px rgb(255, 184, 182);
    border-image: initial;
    outline: none;
    border-radius: 3px;
    animation-name: Swift7;
    animation-duration: 0.6s;
}
@keyframes Swift7 {
    from {transform: rotate(-5deg);}
    to {transform: rotate(5deg);}
}
#click7::selection{
    background-color:rgb(255, 159, 159);
    color: rgb(255, 239, 241);
}

/*Discover » pink*/

#click1{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(255, 45, 85);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click1:hover{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(255, 71, 105);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click1:active{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(255, 55, 92);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    box-shadow: 0px 0px 0px 3px rgb(255, 155, 173);
    border-image: initial;
    outline: none;
    border-radius: 3px;
    animation-name: Swift; 
    animation-duration: 0.4s; 
}
@keyframes Swift {
    from {transform: rotate(4deg);}
    to {transform: rotate(-4deg);}
}
#click1::selection{
    background-color:rgb(255, 174, 187);
    color: rgb(255, 239, 241);
}

/*Discover » Blue*/

#click2{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(0,122,255);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click2:hover{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(16, 131, 255);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click2:active{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(16, 124, 240);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    box-shadow: 0px 0px 0px 3px rgb(157, 204, 255);
    border-image: initial;
    outline: none;
    border-radius: 3px;
    animation-name: Swift2; 
    animation-duration: 0.5s; 
}
@keyframes Swift2 {
    from {transform: rotate(-5deg);}
    to {transform: rotate(5deg);}
}
#click2::selection{
    background-color:rgb(174, 193, 255);
    color: rgb(255, 255, 255);
}

/*Discover » Green*/

#click3{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(52,199,89);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click3:hover{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(64, 216, 102);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click3:active{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(45, 185, 80);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    box-shadow: 0px 0px 0px 3px rgb(158, 233, 176);
    border-image: initial;
    outline: none;
    border-radius: 3px;
    animation-name: Swift3; 
    animation-duration: 0.3s; 
}
@keyframes Swift3 {
    from {transform: rotate(7deg);}
    to {transform: rotate(-6deg);}
}
#click3::selection{
    background-color:rgb(152, 204, 165);
    color: rgb(255, 255, 255);
}

/*Discover » Yellow*/

#click4{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(255,204,0);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click4:hover{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(255, 209, 23);;
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click4:active{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    background: rgb(243, 196, 10);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    box-shadow: 0px 0px 0px 3px rgb(255, 228, 122);;
    border-image: initial;
    outline: none;
    border-radius: 3px;
    animation-name: Swift4; 
    animation-duration: 0.3s; 
}
@keyframes Swift4 {
    from {transform: rotate(7deg);}
    to {transform: rotate(-6deg);}
}
#click4::selection{
    background-color:rgb(240, 229, 183);;
    color: rgb(255, 255, 255);
}

/*Discover » White*/

#click5{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(36, 36, 36);
    background: rgb(241, 241, 241);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click5:hover{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(36, 36, 36);
    background: rgb(238, 238, 238);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click5:active{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(36, 36, 36);
    background: rgb(240, 240, 240);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    box-shadow: 0px 0px 0px 3px rgb(247, 247, 247);
    border-image: initial;
    outline: none;
    border-radius: 3px;
    animation-name: Swift5; 
    animation-duration: 0.3s; 
}
@keyframes Swift5 {
    from {transform: rotate(5deg);opacity: 0.7;}
    to {transform: rotate(-5deg);opacity: 1;}
}
#click5::selection{
    background-color:rgb(223, 223, 223);;
    color: rgb(49, 49, 49);
}

/*Discover » Black*/

#click6{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(236, 236, 236);
    background: rgb(28, 28, 30);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click6:hover{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(236, 236, 236);
    background:rgb(37, 37, 39);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 3px;
}
#click6:active{
    font-size: 14px;
    font-family: Segoe UI;
    color: rgb(236, 236, 236);
    background: rgb(25, 25, 27);
    padding: 7px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    box-shadow: 0px 0px 0px 3.1px rgb(105, 105, 105);
    border-image: initial;
    outline: none;
    border-radius: 3px;
    animation-name: Swift6; 
    animation-duration: 0.3s; 
}
@keyframes Swift6 {
    from {transform: rotate(5deg);opacity: 0.5;}
    to {transform: rotate(-5deg);opacity: 1;}
}
#click6::selection{
    background-color:rgb(0, 0, 0);;
    color: rgb(206, 206, 206);
}

/*Class » Green*/

#Event1{
    appearance: none;
    -webkit-appearance: none;
    background-color:rgb(52,199,89);
    width: 20px;
    height: 20px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    outline-color: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border:none;
}
#Event1:checked{
    appearance: none;
    -webkit-appearance: none;
    background-color:rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 6px rgb(75, 212, 110);
    outline-color: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border:none;
    animation-name: Pencil1; 
    animation-duration: 1s; 
}
@keyframes Pencil1 {
    from {opacity: 0.1;filter: blur(1.2px);}
    to {opacity: 1;filter:blur(0px);}
}

/*Class » Red*/

#Event2{
    appearance: none;
    -webkit-appearance: none;
    background-color:rgb(255, 59, 48);
    width: 20px;
    height: 20px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    outline-color: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border:none;
}
#Event2:checked{
    appearance: none;
    -webkit-appearance: none;
    background-color:rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 6px rgb(252, 81, 72);
    outline-color: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border:none;
    animation-name: Pencil2; 
    animation-duration: 1.5s; 
}
@keyframes Pencil2 {
    from {opacity: 0.1;filter: blur(1.2px);}
    to {opacity: 1;filter:blur(0px);}
}

/*Class » Red*/

#Event3{
    appearance: none;
    -webkit-appearance: none;
    background-color:rgb(0,122,255);
    width: 20px;
    height: 20px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    outline-color: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border:none;
}
#Event3:checked{
    appearance: none;
    -webkit-appearance: none;
    background-color:rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 6px rgb(0, 110, 255);
    outline-color: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border:none;
    animation-name: Pencil3; 
    animation-duration: 2s; 
}
@keyframes Pencil3 {
    from {opacity: 0.1;filter: blur(1.2px);}
    to {opacity: 1;filter:blur(0px);}
}

/*Class » FileSys*/

#xx,input[type="file"] {
    cursor: pointer !Important;
    font: Segoe UI;
    color:transparent;
    width: 84px;
    background-color:none;
    outline: none;
    border: none;
  }
  #xx,input[type="file"]::-webkit-file-upload-button{
     font: Segoe UI;
     background:linear-gradient(360deg, #ff473e, #ff746d);
     border: 0;
     padding: 7px;
     cursor: pointer;
     border-radius:3px;
     margin: 3px;
     color: #f9f6f4;
     outline: none;
     outline-color:transparent;
    }
    #xx,input[type="file"]::-webkit-file-upload-button:hover{
        box-shadow:0px 0px 0px 3px rgb(255, 155, 173);
}
    #xx,input[type="file"]::-webkit-file-upload-button:active{
        background:rgb(223, 94, 88);
}

/*Type » linebox*/

#linebox1{
    color: #38363b;
    background: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: Segoe UI;
    font-weight: unset;
    padding: 5px;
    font-kerning: none;
    shape-outside: none;
    cursor: auto;
    animation-name: Power;
    animation-duration: 0.4s;
    caret:#2a0064;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
}
#linebox1:hover{
    background: linear-gradient(180deg, #f8f8f8, #f7f7f7);
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: Segoe UI;
    color: #38363b;
    font-weight: unset;
    padding: 5px;
    font-kerning: none;
    shape-outside: none;
    cursor: auto;
    caret-color: #2f2c31;
}
#linebox1:active{
    background: linear-gradient(180deg, #fff, #fff);
    border: none;
    background-color:#fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0px 1px 4px -2px #00000015;
    font-size: 14px;
    font-family: Segoe UI;
    color: #38363b;
    font-weight: unset;
    padding: 5px;
    font-kerning: none;
    shape-outside: none;
    cursor: auto;
    caret-color: #2f2c31;
    animation-name: Swift8;
    animation-duration: 0.1s;
}
#linebox1::selection{
    background:rgb(224, 224, 224);
}
@keyframes Power {
    from {opacity: 0.1;filter: blur(2px);}
    to {opacity: 1;filter:blur(0px);}
}
@keyframes Swift8 {
    from {transform: rotate(2deg);}
    to {transform: rotate(-2deg);}
}

/*Type » linebox  DARK*/

#linebox2{
    color: #ffffff;
    background: #323232;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: Segoe UI;
    font-weight: unset;
    padding: 5px;
    font-kerning: none;
    shape-outside: none;
    cursor: auto;
    animation-name: Power;
    animation-duration: 0.1s;
    caret-color:#2a0064;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
}
#linebox2:hover{
    background: linear-gradient(180deg, #303030, #323232);
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: Segoe UI;
    color: #f3f3f3;
    font-weight: unset;
    padding: 5px;
    font-kerning: none;
    shape-outside: none;
    cursor: auto;
    caret-color: #c9bfcf;
}
#linebox2:active{
    background: #303030;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0px 1px 4px -2px #0000001c;
    font-size: 14px;
    font-family: Segoe UI;
    color: #ffffff;
    font-weight: unset;
    padding: 5px;
    font-kerning: none;
    shape-outside: none;
    cursor: auto;
    caret-color: #d3d2d3;
    animation-name: Swift9;
    animation-duration: 0.1s;
}
#linebox2::selection{
    background:rgb(150, 150, 150);
}
@keyframes Power {
    from {opacity: 0.1;filter: blur(3px);}
    to {opacity: 1;filter:blur(0px);}
}
@keyframes Swift9 {
    from {transform: rotate(3deg);}
    to {transform: rotate(-3deg);}
}

/*Type » Close*/

#close1{
    color: #bbbbbb;
    background: #f5f5f5b2;
    border: none;
    padding: 3px 6px;
    outline: none;
    border-radius: 1000px;
    font-size: 14px;
}
#close1:active{
    animation-name: Textlineshadowevent1;
    animation-duration: 0.5s;
}
@keyframes Textlineshadowevent1 {
    from {filter: sepia(-100);}
    to {text-shadow: 0px 1px 5px #ffffff;filter: sepia(1000);}
}

/*Type » Close DARK*/

#close2{
    color: #727272;
    background: #36363679;
    border: none;
    padding: 3px 6px;
    outline: none;
    border-radius: 1000px;
    font-size: 14px;
}
#close2:active{
    animation-name: Textlineshadowevent2;
    animation-duration: 0.3s;
}
@keyframes Textlineshadowevent2 {
    from {filter: sepia(100);}
    to {filter: sepia(0);}
}
body{
    position:relative;
    margin: auto;
    margin-top: 10px;
}
/*Discover » FunctionHub-script-top*/
#FunctionHub-script-top{
    width: 900px;
    height: 27px;
    max-width: 900px;
    position: relative;
    margin: auto;
    max-height: 27px;
    background:#f5f5f5;
}
#FunctionHub-script-top{
    font-size: 13px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 2;
    text-align: center;
    outline: none;
    outline-color: #00000000;
    border: none;
    border-radius: 3px 3px 0px 0px;
    text-shadow: 0px 1px 2px #00000000;
    color: #353535;
    display: block;
    cursor:auto;
    resize: none;
}
#FunctionHub-script-top::selection{
    background: #85858500;
}
/*Discover » FunctionHub-script-orgin*/
#FunctionHub-script-orgin{
    background:linear-gradient(1deg, #d1d1d1, #e0e0e0);
    font-size: 15px;
    font-family: Open Sans;
    font-style: normal;
    outline: none;
    outline-color: #00000000;
    border: none;
    border-radius: 0px 0px 3px 3px;
    color: #353535;
    display: block;
    cursor:auto;
    resize: none;
    width: 900px;
    height: 550px;
    max-width: 900px;
    position: relative;
    margin: auto;
    max-height: 550px;
}
#FunctionHub-script-orgin::selection{
    background: #85858500;
}